.headerprofile-container {
    display: inline-block;
    width:50%;

}

.header-profile {
    width:100%;
    min-width: 50px;
    max-width: 120px;
    padding: 10px;
    margin: auto;
}

.header-profilepic {
    width:100%;
    
    padding: 10px;

}

.header {
    background-color: rgb(167, 219, 167);
    height: 200px;
    padding: 20px;
    max-width:1200px;
    min-width:500px;
    margin:auto;

}

.header-username {
    background-color: white;
    display: inline-block;
    padding: 10px;
}

.title-box{
    width:50%;
    max-height: 250px;
    display:inline-block;
    text-align: right;
    text-decoration: underline;

}

.title {
    width:100%;
    text-align: right;
    font-size: 45px;
    text-decoration: underline;
}