.topicarticle-profileimg {
    width: 100px;
}

.topicarticle {
    font-size:15px;
}

.topicarticletitle {
    font-size:20px;
    width:400px;
    margin: auto;
    margin-bottom: 20px;
    word-break: break-all;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    
}

.topicarticletitle:hover {
    background-color: rgb(108, 226, 167);
}