.topicArticles {
    display: flex;
    gap: 50px;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
   
}

.articles-list {

    width:30%;
    max-width:1200px;
    min-width:500px;
    
}

.category-label {
    background-color: rgb(190, 190, 210);
    padding: 20px;
    margin: auto;
}

.article-item {
    border: solid 1px black; 
    max-width:1200px;
    min-width:500px;
    margin: auto;
    margin-top:20px;
}

.article-label {
    margin: 10px;
}