.comment-form button{
    background-color: rgb(219, 222, 129);
    padding:20px;
    margin: auto;
    display: block;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
}

.comment-form button:hover{
    border: 5px solid black;
}


.comment-form button:active{
    background-color:rgb(175, 175, 232);
}

.comment-form textarea{
    width:100%;
    height:10rem;
    max-width:800px;
    max-height:400px;
    margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    border-radius:25px;
    padding:25px;
}

.commentform-header {
    width:50%;
    border: solid 1px black;
    margin-top: 20px;
    min-width: 500px;
    padding: 20px;
    max-width: 1000px;
    gap: 100px;
    background-color: rgb(219, 222, 129);
    margin: auto;
    margin-top: 20px;
    border-bottom: none;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
  
  .commentform-author {
      display:inline-block;
  
      width: 200px;
      background-color: rgb(251, 135, 135);
  }
  
  .commentform-body {
    width:50%;
      min-width:500px;
      max-width:1000px;
      border: solid 1px black;
      text-align:left;
      padding: 20px;
      margin: auto;
      border-top:none;
      background-color: rgb(131, 177, 114);
      border-bottom-left-radius:25px;
      border-bottom-right-radius:25px;
      font-family:'Courier New', Courier, monospace;
  }
  
  .commentform-body p {
      background-color: rgb(140, 252, 155);
      padding:30px;
  
  }

  .postMessage {
    font-family:'Courier New', Courier, monospace;
    font-size:25px;
    background-color: rgb(123, 243, 123);
    width:450px;
    margin: auto;
    margin-bottom:20px;

  }
  