.comment-header {
    width:50%;
  border: solid 1px black;
  min-width: 300px;
  padding: 10px;
  max-width: 1000px;
  gap: 100px;
  background-color: rgb(219, 222, 129);
  margin: auto;
  margin-top: 10px;
  border-bottom: none;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.comment-author {
    display:inline-block;

    width: 200px;
    background-color: rgb(251, 135, 135);
}

.comment-body {
    width:50%;
    min-width:300px;
    max-width:1000px;
    border: solid 1px black;
    text-align:left;
    padding: 10px;
    margin: auto;
    border-top:none;
    background-color: rgb(131, 177, 114);
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    font-family:'Courier New', Courier, monospace;
}

.comment-body p {
    background-color: white;
    padding:10px;

}

.comment-header p{
    display:inline-block;
    margin:5px;
    padding:2px;
    font-family: 'Courier New', Courier, monospace;
    
}