.article-header{
    width:50%;
    border: solid 1px black;
    margin-top:20px;
    min-width:300px;
    max-width:1000px;
    gap:100px;
    padding: 10px;
    background-color:rgb(125, 125, 220);
    margin: auto;
    margin-top:20px;
    border-bottom:none;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.article-author {
    display:inline-block;

    width: 200px;
    background-color: rgb(251, 135, 135);
}

.article-body {
    width:50%;
    min-width:300px;
    max-width:1000px;
    border: solid 1px black;
    text-align:left;
    padding: 10px;
    margin: auto;
    border-top:none;
    background-color: rgb(126, 183, 223);
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    font-family:'Courier New', Courier, monospace;
}

.article-body p {
    background-color: white;
    padding:30px;

}


.article-title {
    width:80%;
    
}

.article-header h2{

    display: inline-block;
    margin:20px;
  
}

.article-header h3{

    display: inline-block;
    margin:40px;
  
}

